parameters:
    level: max
    paths:
        - src
        - tests
    excludePaths:
        - tests/*-native.php
        - src/*-80.php

services:
	-
		class: Mabe\Enum\Cl\PHPStan\ConstantExtension
		tags:
			- phpstan.constants.alwaysUsedClassConstantsExtension
